.main {
    background: rgb(28,35,45);
    background: linear-gradient(180deg, rgba(28,35,45,1) 0%, rgba(70,84,99,1) 100%);
    width: 100%;
    height: 100vmax;
}
.tittle {
    text-align:center;
    padding-top: 7.5px;
}
.maintext {
    text-align: center;
    padding-top: 20px;
}
.pet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}